---
# Namespace for deployPostfix "pg" — must match SD: deployPostfix: "pg" and application name "postgres" (postgres:…)
name: "{{ current_env.name }}-pg"
tenantName: "{{ current_env.env_template }}"
credentialsId: ""
labels:
  - "solutionInstance-{{ current_env.name }}"
  - "solution-{{ current_env.tenant }}"
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
profile:
  name: dev_postgres_oss
  baseline: dev
deployParameters:
  ENVGENE_CONFIG_REF_NAME: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_REF_NAME') | default('No Ref Name') }}"
  ENVGENE_CONFIG_TAG: "{{ lookup('ansible.builtin.env', 'CI_COMMIT_TAG') | default('No Ref tag') }}"
  PG_NAMESPACE_FROM_SD: "{{ current_env.solution_structure['postgres']['pg'].namespace }}"
  PG_VERSION_FROM_SD: "{{ current_env.solution_structure['postgres']['pg'].version }}"
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
